@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

@layer components {
  .flexStill {
    @apply flex items-center justify-center gap-5;
  }
  .boxAside {
    @apply p-3 flex items-center  mb-2.5 rounded-[10px] cursor-pointer transition-all duration-300 ease-in-out hover:bg-[#F8F9FA] focus:bg-[#EEF2FF];
  }
}
